<div class="col-md-12" style="padding:0px 100px">
  <h3> {{mainHeading}} </h3> <br>

  <div class="todoInputFields">
    <div style="padding-bottom: 6px;font-size: 18px;">Title</div>
  <input style="width: 300px;" type="text" class="form-control" name="" value="" placeholder="Type here" ng-model= "data.title" > <br>

  <div style="padding-bottom: 6px;font-size: 18px;">Name</div>
  <input  style="width: 300px;" type="" name="" value="" placeholder="names" ng-model= "data.name"> <br> <br>

  <div style="padding-bottom: 6px;font-size: 18px;">Description </div>

  <!-- <input style="width: 200px;"  type="" name="" value="" placeholder="details" ng-model= "data.details"> <br> <br> -->
  <textarea name="" id="" cols="40" rows="7" ng-model= "data.details" placeholder="Add description" style="padding: 10px;"> 


  </textarea> <br> <br>
  <button type="button" class = "btn btn-primary" name="button" ng-click="submit()">submit</button> 
  </div>
</div>
